.container {
    width: 20%;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-left: 1%;
}

.containerbutton{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.close {
    background-color: transparent;
    color: red;
    width: fit-content;
    height: fit-content;
    font-family: Times;
    font-size: 125%; 
    border-radius: 50%;
    border-color: red;
}

.parametros{
    color: greenyellow;
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: underline overline black;
}

.parametros:hover{
    color: greenyellow;
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: underline overline greenyellow;
}

.close:hover{
    color: black;
    background-color: green;
    border-color: transparent;
    font-size: 155%; 

}

.info {
    font-weight: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.image{
    margin-bottom: 2.5%;
    margin-top: 2.5;
    size: 100%;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.fav{
    background-color: transparent;
    width: fit-content;
    height: 100%;
    border-color: transparent;
    font-size: x-large;
}

.fav:hover{
    background-color: transparent;
    width: fit-content;
    height: 100%;
    border-color: transparent;
    font-size: xx-large;
}
